$primary-blue: #007bff;

.component.side-bar {
  .navbar-header {
    display: flex;
    justify-content: space-between;
    margin: 0 8%;
  }
  .link {
    text-decoration: none;
    color: black;
  }
  .active {
    color: $primary-blue;
  }
}

