.component.upper-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 8vh;
  background-color: #fafafa;

  .image-wrapper {
    padding-right: 1vw;
  }

  padding-right: 3vw;
}

.component.upper-bar .dropdown-wrapper #nav-dropdown {
  color: black;
}

.component.upper-bar .image-wrapper .image {
  width: 6vh;
}