.component.item-view-modal .body {
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.component.item-view-modal .body .main div {
  margin: 0 0 0.5vh 0;
}

.component.item-view-modal .body .main .image {
  display: flex;
  flex: 1;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.component.item-view-modal .body .main .image img {
  margin: 0 0 0 1vh;
  max-width: 80%;
}

.component.item-view-modal .body .item {
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.component.item-view-modal .body .item .table-ic {
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
