$primary-blue: #007bff;

.page.pos-management {
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0 1vw 0 1vw;

  .left-section {
    display: flex;
    flex: 2;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;

    .top-section {
      display: flex;
      flex: 1;
      width: 100%;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-start;
      padding: 2vh 0vw 2vh 2vw;
    }

    .bottom-section {
      display: flex;
      flex: 8;
      flex-flow: row wrap;
      width: 100%;
      padding-left: 2%;
      height: 100%;

      .empty-data {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .card {
        display: flex;
        flex: 0 0 auto;
        flex-flow: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 1.25%;
        width: 30%;

        .action {
          .add, .remove {
            width: 6vw;
            min-width: 100px;
          }
        }
      }
    }
  }

  .right-section {
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;

    .top-section {
      display: flex;
      flex: 1;
      flex-flow: row wrap;
      justify-content: center;
      align-items: flex-start;
      margin: 2vh 0 2vh 0;
    }

    .bottom-section {
      display: flex;
      flex: 9;
      flex-flow: column wrap;
      justify-content: flex-start;
      align-items: center;

      .order {
        margin: 0 0 2vh 0;
        overflow: hidden;

        .pad {
          background-color: #efefef;
          height: 70vh;
          width: 30vw;
          padding: 2vh 2vw 2vh 2vw;
          border-radius: 4%;
          overflow-y: scroll;
          margin: 0 0 4vh 0;
        }

        ::-webkit-scrollbar {
          display: none;
        }

        .transaction-item-map {
          display: flex;
          flex: 1;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center;

          .left-section {
            display: flex;
            flex: 1;
            flex-flow: column wrap;
            justify-content: center;
            align-items: flex-start;

            .price {
              margin-left: 0.5vw;
            }
          }

          .right-section {
            display: flex;
            flex: 1;
            flex-flow: row wrap;
            justify-content: flex-end;
            align-items: center;

            .text {
              display: flex;
              flex: 1;
              flex-flow: column wrap;
              justify-content: center;
              align-items: center;
            }

            .button {
              display: flex;
              flex: 1;
              flex-flow: column wrap;
              justify-content: center;
              align-items: center;

              .image {
                cursor: pointer;
              }

            }
          }

          .horizontal-line {
            margin: 1vh 0 1vh 0;
            padding: 0 0 0 0;
          }
        }
      }

      .summary {
        margin: 0 0 2vh 0;

        .pad {
          background-color: #efefef;
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 10vh;
          width: 30vw;
          padding: 2vh 2vw 2vh 2vw;
          border-radius: 4%;
          margin: 0 0 4vh 0;

          .total {
            display: flex;
            justify-content: space-between;
          }
        }
      }

      .checkout {
        margin: 0 0 4vh 0;

        button {
          display: flex;
          flex: 1;
          justify-content: center;
          align-items: center;
          width: 30vw;

          .icon {
            margin: 0 1vw 0 0;
          }
        }
      }
    }
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .page.pos-management {
    .left-section {
      margin-right: 2%;

      .bottom-section {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding-left: 0%;

        .card {
          width: 45%;

          .action {
            .add, .remove {
              width: 12vw;
            }
          }
        }
      }
    }

    .right-section {
      .bottom-section {
        .summary {
          .pad {
            min-height: 20vh;
          }

          .total {
            flex-direction: column;
          }
        }
      }
    }
  }
}

@media (min-width: 0px) and (max-width: 600px) {
  .page.pos-management {
    display: flex;
    flex-direction: column;

    .left-section {
      display: flex;
      flex-direction: column;

      .top-section {
        display: flex;
        flex-direction: column;

        .right-section {
          form {
            width: 70vw;
          }
        }
      }

      .bottom-section {
        display: flex;
        justify-content: center;
        padding-left: 0%;

        .card {
          width: 75vw;
          margin: 2.5% 0% 2.5% 0%;
        }
      }
    }

    .right-section {
      display: flex;
      align-self: center;

      .top-section {
        text-align: center;
      }

      .bottom-section {
        .order {
          .pad {
            width: 75vw;

            .transaction-item-map {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;

              .right-section {
                display: flex;

                .quantity {
                  width: 20vw;
                  text-align: center;
                }
              }
            }
          }
        }

        .summary {
          .pad {
            width: 75vw;

            .subtotal, .service, .total {
              display: flex;
              justify-content: space-between;
            }
          }
        }

        .checkout {
          width: 75vw;

          .btn {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .text {
              margin-left: 4%;
            }
          }
        }
      }
    }
  }
}

.empty-data {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 55vw;
  height: 60vh;
}

.card {
  .code,
  .name,
  .quantity,
  .image {
    width: 100%;
    height: 100%;
  }

  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .content {
    display: flex;
    flex: 1;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2vh 2vh 2vh 2vh;
    width: 100%;
    height: 100%;

    .code {
      font-weight: bold;
    }

    .quantity {
      color: $primary-blue;
    }
  }
}

