$primary-blue: #007bff;

@media (min-width: 768px) {
  .page.company-information {
    display: flex;
    flex: 1;
    flex-flow: column;
    min-height: 92vh;
  }

  .page.company-information .active {
    color: white;
    background-color: $primary-blue;
  }

  .page.company-information .header {
    display: flex;
    align-items: center;
    min-height: 0;
    padding: 2vw 5vw 2vw 5vw;
  }

  .page.company-information .body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 93%;
    height: 100%;
    padding: 2vw 5vw 2vw 5vw;

    .locations {
      width: 65%;
      height: 100%;
      padding: 4vh 0 0 0;

      .upper {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 1vw 0 1vw 0;
        height: 10vh;
        padding: 0 2vw 0 2vw;


        .icon {
          cursor: pointer;
          margin: 0 0.8vw 0 0.8vw;
        }
      }
    }
  }

  .page.company-information .body .form form {
    width: 65%;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .page.company-information .header {
    justify-content: center;
    padding: 2vh 2vh 2vh 4vh;
  }

  .page.company-information .body {
    padding: 2vh 4vh 2vh 4vh;
  }

  .page.company-information .body .form form {
    width: 100%;
  }
}

.page.company-information .header .left-section .description {
  color: gray;
}

.page.company-information .body .form {
  display: flex;
  height: 100%;
  flex: 6;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 4vh 0 12vh 0;
}

.page.company-information .body .form button {
  margin: 4vh 0 0 0;
  width: 100%;
}
