$primary-blue: #007bff;

.page.landing .navbar {
  background: #fff;
}

.page.landing .register {
  color: $primary-blue ;
  background-color: #fff;
  padding: 6px 24px ;
  border: 1px solid $primary-blue;
  border-radius: 4px;
  transition: all 0.2s ease;
}

.page.landing .register:hover {
  color: white ;
  background-color: $primary-blue;
}

.page.landing .login {
  margin-right: 20px;
}

.page.landing .nav-mobile {
  // display: flex;
  justify-content: space-between;
  margin: auto;
  text-align: center;
  font-weight: 500;
}

.page.landing .link:hover {
  color: $primary-blue ;
  font-weight: 500;
}

@media (max-width: 992px) {
  .page.landing p {
    font-size: 18px ;
  }
  .page.landing .nav-mobile {
    flex-direction: column;
    margin: auto;
    text-align: center;
    font-weight: 500;
  }
  /* Navbar */
  .page.landing .login {
    margin-right: 0px;
  }
  .page.landing .register {
    padding: 6px 24px;
    text-align: center;
    margin: auto;
    margin-bottom: 4px;
  }
  
}
