@media (min-width: 768px) {
  .page.register-auth {
    display: flex;
    flex: 1;
    flex-flow: row;
  }

  .page.register-auth .left-section {
    padding: 8vh 8vh 8vh 8vh;
  }

  .page.register-auth .right-section {
    padding: 12vh 24vh 12vh 24vh;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .page.register-auth {
    display: flex;
    flex: 1;
    flex-flow: column;
  }

  .page.register-auth .left-section {
    padding: 4vh 4vh 4vh 4vh;
  }

  .page.register-auth .right-section {
    padding: 6vh 12vh 6vh 12vh;
  }
}

.page.register-auth .left-section {
  display: flex;
  flex: 3;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
}

.page.register-auth .left-section .logo {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.page.register-auth .left-section .logo img {
  max-width: 100%;
}

.page.register-auth .left-section .splash {
  display: flex;
  flex: 3;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.page.register-auth .left-section .splash img {
  max-width: 80%;
}

.page.register-auth .left-section .description {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}

.page.register-auth .left-section .description .text {
  color: white;
}

.page.register-auth .right-section {
  display: flex;
  flex: 7;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.page.register-auth .right-section .title {
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: 0 0 4vh 0;
}

.page.register-auth .right-section .form {
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.page.register-auth .right-section .form form {
  margin: 0 0 4vh 0;
  width: 100%;
}

.page.register-auth .right-section .form button {
  margin: 4vh 0 0 0;
  width: 100%;
}

.page.register-auth .right-section .suggest-login {
  display: flex;
  flex: 1;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  text-align: left;
}

.page.register-auth .right-section .suggest-login a {
  color: #007bff;
}
