.component.transaction-history-insert-modal {
  z-index: 2000;
}

.component.product-insert-modal .body {
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.component.transaction-history-insert-modal .body {
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: flex-start;

  .main {
    width: 100%;

    .new-transaction-item-maps {
      margin-top: 2%;
      max-height: 40vh;
      overflow: auto;
    }
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }
}
