
.component.transaction-history-update-modal .body {
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: flex-start;

  .current-transaction-item-maps,
  .new-transaction-item-maps {
    max-height: 40vh;
    overflow: auto;
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }
}

