<<<<<<< HEAD

.component.transaction-history-update-modal .body {
=======
.component.product-update-modal {
  z-index: 2000;
}

.component.product-update-modal .body .main .form,
.component.product-update-modal .body .main .form form {
>>>>>>> main
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: flex-start;

  .current-transaction-item-maps,
  .new-transaction-item-maps {
    max-height: 40vh;
    overflow: auto;
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }
}

