.component.transaction-history-update-modal {
  z-index: 2000;
}

.component.transaction-history-update-modal .body {
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: flex-start;

  .form {
    width: 100%;
    .current-transaction-item-maps,
    .new-transaction-item-maps {
      margin-top: 2%;
      max-height: 30vh;
      overflow: auto;
    }
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }
}

